{% extends 'layout.html' %}

{% block content %}
    <!-- <h1>Index Page</h1> -->
    <div id='top_row' class='row'>
        <div class='col-sm-6'>
            <div class='well' id='userForm'>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='well' id='officeForm'>
            </div>
        </div>
    </div>

    <div id='bottom_row' class='row'>
        <div class='col-sm-6'>
            <div class='well'>User List</div>
            <ul id='usersList' class='list-group'></ul>
        </div>
        <div class='col-sm-6'>
            <div class='well'>Office List</div>
            <ul class='list-group' id='officesList'>
            </ul>
        </div>
    </div>


<script>
  var USERS = {{ users | dump | safe }};
  var OFFICES = {{ offices | dump | safe }};

  // console.log(USERS);
</script>
<script src='/jquery/jquery.min.js'></script>
<script src='/bootstrap/js/bootstrap.min.js'></script>
<script src='/custom/OfficesList.js'></script>
<script src='/custom/OfficeForm.js'></script>
<script src='/custom/UsersList.js'></script>
<script src='/custom/UserForm.js'></script>
<script src='/custom/app.js'></script>
{% endblock %}
